.stick-header{
	width:100%; 
	position:fixed;
	top:0;
      z-index: 2;
}
.nav-bar{
	height: 2em;
      width: 100%;
	background-color: #2199e8;
      color: #fefefe;
}
.nav-bar .fa{
      font-size: 1.2rem;
}
.nav-bar .fa.fa-chevron-left{
      font-size: 0.9rem;
}
.nav-bar a{
      color: #fefefe;
}
.channel{
	height: 2em;
      width:100%; 
	border-bottom: 1px solid #cacaca;
	barckground-color:#fff;
	transparent:none;
}
.channel .item{
	float:left;
	width:50%;
	text-align:center
}
.item:first-child{
	border-right: 1px solid #cacaca;
}
.topic{
      display: none;
}
.topic ul{
      list-style: none;
      background-color:#fff;
      margin-left: 0;
}
.divider{
    height: 1px;
    margin: 0.3rem 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.topic ul li{
      padding-left: 3rem;
}
.topic ul li:first-child{
      padding-top:0.3rem;
}
.topic ul li:last-child{
      margin-bottom:0.3rem;
}
.topic ul a{
      color: #000;
}
.topic ul a.active{
      color: #2199e8;
}
.media-list{
	padding-top: 4em;
}
.media-list .media-object-section:first-child{
      width: 40%;
}
.media-list .media-object-section:last-child{
      width:60%;
}
.media-object{
	margin-top:0.5rem;
}
.media-description{
	font-size:0.7em;
}
.media-description .top{
      margin-bottom:2rem;
}
.yellow{
	background-color: #ffae00;
      color: #fefefe;
}
.star-yellow{
	color: #ffae00;
}
.star-gray{
	color: #cacaca;
}
.star-shallow-gray{
      color: #aaa;
}
.label-left{
	display: inline-block;
	float: left;
}
.label-right{
	display: inline-block;
	float: right;
}
.padding-left-5{
	padding-left: 0.5rem;
}
.footer{
	width: 100%;
	position:fixed;
	bottom:0;
	padding: 0.2em 0;
	background-color:white;
}
.footer-text{
	font-size: 0.7rem;
	display:block;
}
.footer i{
	font-size:1.2rem;
}
.footer .active, .address .active{
	color: #2199e8;
}
.footer.buy{
      background-color: #ffae00;
      color: #fefefe;
      font-weight: bold;
}
.intro{
padding-top:2em;
margin-bottom: 1em;
}
.image{
      position:relative;
}
.image .serial-num{
      position:absolute;
      display: inline-block;
      float:right;
      top: 0.2rem;
      right:2.5rem;
      color: gray;
      font-size: 0.7rem;
}
.image .grade{
      position:absolute;
      display: inline-block;
      left:50%;
      bottom:0.5rem;
}
.grade .badge{
      font-size:0.7rem;
}
.privilege{
      margin:1rem 0;
      padding-bottom:0.5rem;
      border-bottom: 1px solid #cacaca;
}
.intro .description .left, .store .title, .comment .title{
      font-size: 0.9rem;
      font-weight: bold;
      color: #ffae00;
}
.intro .description .right, .store .detail{
      font-size: 0.7rem;
}
.description a{
      color: #ffae00;
      text-decoration: underline;
      font-weight: bold;
}
.description p{
      color: #ffae00;
      margin-top:0.5rem;
      margin-bottom: 0.5rem;
}
.address{
      position: relative;
      background-color: #cacaca;
      padding-top:3rem;
      padding-bottom:3rem;
}
.address-detail{
      color: #fff;
      position: absolute;
      vertical-align:middle;
      padding: 0.5rem;
      top: 0.5rem;
      left: 0.5rem;
      right: 0.5rem;
      bottom:0.5rem;
      background-color: gray;
      opacity: 0.6;
      filter: alpha(opacity=60); /* For IE8 and earlier */
      font-size: 0.8rem;
}
.address-detail a{
      color: #fff;
      font-size: 0.6rem;
      text-decoration: underline;
}
.store{
      margin: 0.5rem 0;
}
/*.store .title{
      background-color: #cacaca;
}*/
.comment .content{
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.1rem;
}
.comment .content,.comment .info{
      font-size: 0.7rem;
}
.comment .content .media-object{
      border-bottom: 0;
}
.comment .content .media-object-section:first-child{
      width:auto;
}
.comment .content .arrow{
      background-color: #cacaca;
      border-radius:0.1rem 0.1rem 0.1rem 0.1rem;
      position:relative;
}
.comment .content-item .thumbnail{
      width:2rem;
      height:2rem;
}
.arrow:before{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: inset 0.5rem;
    border-color: #cacaca transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    top: 100%;
    bottom: auto;
    left:80%;  
}
.comment .more{
      color: #2199e8;
      border: 1px solid #2199e8;
      border-radius: 0.4em;
      font-size: 0.8rem;
      margin-bottom:2rem;
}